.App {
  min-height: 100vh;
  color: white;
  background-color: #282c34;
  padding: 20px;
}

.App-header {
  text-align: center;
  font-size: calc(10px + 2vmin);
}

.Layout{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.Star-color{
  color: orange;
}

.Rate-container{
  border-top: 2px solid purple;
  margin-top: 20px;
}

.New-rating{
  color: lightcoral; 
}

.Rate-container .fa-star{
  font-size: 1.5rem;
  cursor: pointer;
} 